SGE_SQLSERVER_SA_PASSWORD=CHANGE_ME_WITH_A_STRONG_LOCAL_PASSWORD
SGE_RABBITMQ_USERNAME=sge_local
SGE_RABBITMQ_PASSWORD=CHANGE_ME_WITH_A_STRONG_LOCAL_PASSWORD
SGE_JWT_SIGNING_KEY=CHANGE_ME_WITH_AT_LEAST_32_RANDOM_CHARACTERS

SGE_HTTP_PORT=8080
SGE_NGINX_SERVER_NAME=localhost
SGE_NGINX_GENERATE_SELF_SIGNED_CERTIFICATE=true
SGE_SQLSERVER_PORT=1433
SGE_REDIS_PORT=6379
SGE_RABBITMQ_MANAGEMENT_PORT=15672
SGE_OTLP_GRPC_PORT=4317
SGE_OTLP_HTTP_PORT=4318
